@import '../base/variables';
@import '../base/listas';

.animate__animated.animate__bounceInLeft{
    --animate-duration: 4s;
}
.animate__animated .animate__zoomInUp{
    --animate-duration: 4s;
}

.seccion-nosotros{
    margin:auto;
    width: 80%;
    color: #ffffff ;
    font-weight: lighter;
    font-size: nth($font-size-generales,3);
    margin-top:7%;
    margin-bottom: 10%;
    font-size: nth($font-size-generales,2);
    .seccion-nosotros-principal{
        .seccion-nosotros-principal-n{
            margin-bottom: 10%;
            font-size: nth($font-size-generales,2);
            p{
                margin-top: 3%;
                margin-bottom: 5%;
            }
        }
    }    
}

.nosotros{
    margin: 15% 0;
    width: 90%;
    color: #ffffff ;
    font-weight: lighter;
    font-size: nth($font-size-generales,3);
    text-align: center ;
            font-size: nth($font-size-generales,2);
            margin-bottom: 5%;
}
