@import '../base/variables';
@import '../base/listas';

*{
    margin:0;
    padding:0;
}

body{   
    background: $bg-color-general;
    
}
.footer-texto{
    margin-top: 5%;
    font-size: nth($font-size-generales,5);
    margin-left: 25%;
    color: #ffffff ;
    font-weight: lighter;
}
.footer-texto-dos{
    font-size: nth($font-size-generales,5);
    margin-left: 25%;
    color: #ffffff ;
    font-weight: lighter;
}
.carousel-img{
    width: 95%;
    margin: 0 auto;
}

.img-logitos{
    width: 10%;
}

.reme-uno{
    width: 40%;
}
.dise-uno{
    width: 50%;
    height: 750px;
}
.reme-nar{
    width: 60%;
    height: 300px;
    
    
}
.reme-dos{
    width: 60%;
    height: 300px;
    
}
.footer-tres{
    text-align: right;
    color: #ffffff ;
}
.img-redes{
    width: 20%;
}